.Privacy{
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    background-image: url("D:\Lalith\Reactgroupproject\project\src\component\Footer_content\whiteBackground.jpeg");
}

h1{
    font-weight: bold;
    text-align: center;
}